* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  background-color: rgb(2, 18, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/universe.jpeg");
}
.board {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 480px;
  height: 480px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.board > div {
  border: 1px solid black;
  height: 30px;
  width: 30px;
}
button {
  align-items: center;
  cursor: pointer;
}

h2 {
  color: white;
  font-style: italic;
  align-self: flex-start;
  margin-left: 20px;
}
.header {
  display: flex;
  gap: 10px;
 
}
footer {
  display: flex;
  gap: 10px;
}
